<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="bishlog.css">
  <link rel="stylesheet" type="text/css" href="normalize.css">
</head>
<header class="header">
  <p>Bishlog</p>
</header>
<body>
  <h1 class="bishlogcreate">Bishlog作成</h1>
  <%= form_with(model: @bishlog, local: true ,url: confirm_bishlogs_path) do |form| %>
    <% if @bishlog.errors.any? %>
      <div id="error_explanation">
        <h2><%= @bishlog.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @bishlog.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="bishlog_name">
      <div class="namae">
        <%= form.label :ユーザー名 %><br/>
      </div>
      <div class="name">
        <%= form.text_field :user %>
      </div>
    </div>
    <div class="blog_content">
      <div class="naiyou">
        <%= form.label :内容 %><br/>
      </div>
      <div class="content">
        <%= form.text_field :content, size: 50%>
      </div>
    </div>
    <div class="submit">
      <%= form.submit %>
    </div>
  <% end %>
  <div class="indexback">
    <%= link_to "ブログ一覧画面にもどる", bishlogs_path %>
  </div>
</body>
<footer class="footer">
  <p>Copyright © 2020 SASAKI All RIGHTS RESERVED.</p>
</footer>
